extends layout

block content
  .container
    .page-header
      h1= title
    .row
      .col-md-12
        #slideshow-carousel.carousel.slide
          ol.carousel-indicators
            each slide, index in slides
              li(data-target="#slideshow-carousel" data-slide-to="#{index}" class=index === 0 ? "active" : "")
          .carousel-inner
            each slide, index in slides
              .item(class=index === 0 ? "active" : "")
                img(src="#{slide.image_url_large}")
                select.form-control.template-select
                  option(selected) Template 1
                  option Template 2
                  option Template 3
                .carousel-caption
                  h3!= slide.caption.toUpperCase()
          a.left.carousel-control(href="#slideshow-carousel" data-slide="prev")
            span.glyphicon.glyphicon-chevron-left
          a.right.carousel-control(href="#slideshow-carousel" data-slide="next")
            span.glyphicon.glyphicon-chevron-right
    .row
      .col-md-12
        .panel.panel-default
          .panel-heading
            h3 Generate Video
          .panel-body
            form#generator
              .form-group
                label Audio File &nbsp;
                  span.label.label-default optional
                p#recommendedAudioLength.help-block
                input(name="audio" type="file" accept=".mp3")
              .form-group
                button.btn.btn-primary(id="submit-button" type="submit") Submit
                a#videoDownload.hide(href="#" target="_blank") Download Video
              #progressIndicator.form-group.form-progress.hide
                label.progress-label
                .progress
                  .progress-bar.progress-bar-striped(style="width: 0%")